/* x-header */
.x-header {
	h1 {
		margin: 0;
		padding: 10px 0;
		overflow: hidden;

		a {
			display:block;
		}

		img {
			max-height: 60px;
		}

		span {
			display: none;
		}
	}

	ul {
		margin: 0;
		padding: 0 60px;
		list-style: none;

		li {
			float: left;
			height: 80px;
			line-height: 80px;
			padding: 0 10px;
			position: relative;

			a {
				float:left;
				font-size: 16px;
			}

			a:hover,
			&.current a {
				color: $color-secondary;
			}

			// &:before {
			// 	content: '|';
			// 	color: $color-primary;
			// 	position: absolute;
			// 	left: 0;
			// 	top: 0;
			// 	font-size: 18px;
			// }

			// &:first-child {
			// 	&:before {
			// 		content: '';
			// 	}
			// }
		}
	}
}
