/* x-home */
.x-home {
	padding: 30px 0;

	.heading {
		text-align: center;
		position: relative;
		// padding-bottom: 13px;

		h5,
		small {
			display: inline-block;
			color: $color-primary-spare;
			font-weight: 700;
		}

		h5 {
			font-size: 22px;
			margin: 0;
			padding: 0;
		}

		small {
			font-size: 18px;
			padding-left: 10px;
			margin-left: 10px;
			border-left: 4px solid $color-secondary;
		}

		span {
			position: absolute;
			bottom: 0;
			left: 50%;
			height: 3px;
			background-color: $color-primary;
			width: 50px;
			margin-left: -25px;
			display: none;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		&,
		li a,
		li a b {
			overflow: hidden;
		}

		li {
			float: left;

			a {
				display: block;

				b {
					display: block;

					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		&.projects {
			padding: 60px 0 45px;

			li {
				width: 16.66666667%;
				text-align: center;
				font-size: 14px;
				line-height: 1.8;

				a {
					b {
						display: inline-block;
						color: #fff;
						width: 100px;
						height: 100px;
						line-height: 100px;
						font-size: 50px;
						border-radius: 50%;
						background-color: $color-primary;

						img {
							vertical-align: top;
						}
					}

					.title {
						color: #fff;
						margin-top: 10px;
						font-size: 15px;
						font-weight: 700;
					}

					.alias {
						color: $color-primary;
					}

					.description {
						display: none;
					}

					&:hover {
						b,
						.title {
							color: $color-secondary;
						}
					}
				}
			}
		}

		&.about {
			padding: 30px 0 50px;
			li {
				float: none;

				a {
					b,
					.title,
					.alias {
						display: none;
					}

					.description {
						font-size: 14px;
						text-indent: 28px;
						text-align: justify;
					}

					&:hover {
						color: $color-secondary;
					}
				}
			}
		}

		&.advantages {
			padding: 80px 15% 60px;

			li {
				width: 33.33333334%;
				text-align: center;
				font-size: 14px;
				line-height: 1.8;

				a {
					b {
						display: inline-block;
						color: #fff;
						width: 100px;
						height: 100px;
						line-height: 100px;
						font-size: 50px;
						border-radius: 50%;
						background-color: $color-primary;

						img {
							vertical-align: top;
						}
					}

					.title {
						font-size: 15px;
						color: $color-secondary;
						margin-top: 10px;
					}

					.alias {
						display: none;
					}

					.description {
						color: #fff;
					}

					&:hover {
						b {
							color: $color-secondary;
						}
					}
				}
			}
		}

		// &.advantages {
		// 	padding: 20px 150px;

		// 	li {
		// 		width: 50%;
		// 		padding: 60px 30px 0 15px;

		// 		a {
		// 			b {
		// 				float: left;
		// 				font-size: 60px;
		// 				width: 80px;
		// 				height: 80px;
		// 				line-height: 80px;
		// 				text-align: center;
		// 			}

		// 			.title,
		// 			.description {
		// 				font-size: 14px;
		// 				overflow: hidden;
		// 			}

		// 			.title {
		// 				color: $color-secondary;
		// 			}

		// 			.description {
		// 				padding-top: 18px;
		// 				line-height: 1.6;
		// 			}

		// 			.alias {
		// 				display: none;
		// 			}
		// 		}
		// 	}
		// }

		&.news {
			padding: 25px 0 50px;
			min-height: 170px;

			li {
				font-size: 14px;
				width: 50%;
				height: 34px;
				line-height: 34px;
				overflow: hidden;
				padding-left: 30px;

				a {
					b,
					.alias,
					.description {
						display: none;
					}

					&:before {
						content: '\f101';
						font-family: FontAwesome;
						font-size: 16px;
						float: left;
						margin-right: 10px;
						color: $color-primary;
					}

					&:hover {
						&:before {
							color: $color-secondary;
						}
					}
				}
			}
		}

		&.links {
			padding: 50px 0;

			li {
				width: 188px;
				padding: 0 15px 10px 0;

				a {
					b {
						height: 94px;
						border: 1px solid #d7d7d7;
					}

					.title,
					.alias,
					.description {
						display: none;
					}

					&:hover {
						b {
							border-color: $color-primary;
						}
					}
				}
			}
		}
	}

	.more {
		text-align: center;
	}

	&-inverse {
		padding: 85px 0 55px;
		background-color: $color-primary;

		.heading {
			h5,
			small {
				color: #fff;
			}

			span {
				background-color: #fff;
			}
		}

		ul {
			li {
				a {
					color: #fff;
				}
			}
		}
	}

	&-mt20 {
		margin-top: 20px;
	}

	.marquee {
		padding: 50px 0;
		overflow: hidden;

		.scroller {
			overflow: hidden;
			height: 104px;

			ul.links {
				padding: 0;
				float: left;
			}
		}
	}
}
